<app-navbar></app-navbar>
<br>
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <h2 class="card-title">Entre em Contato</h2>
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="name" class="form-label">Nome</label>
          <input type="text" class="form-control" id="name" formControlName="name">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">E-mail</label>
          <input type="email" class="form-control" id="email" formControlName="email">
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">Mensagem</label>
          <textarea class="form-control" id="message" formControlName="message" rows="4"></textarea>
        </div>

        <div class="mb-3">
          <div class="button-container">
            <button type="submit" class="btn btn-primary me-3">Enviar</button>
            <div class="social-icons">
              <a href="https://www.linkedin.com/in/guilherme-rosa-254b4422a/" target="_blank" rel="noopener noreferrer" class="me-3">
                <i id="linkedin" class="fab fa-linkedin fa-3x"></i>
              </a>
              <a href="https://www.instagram.com/gui.rosaaa/" target="_blank" rel="noopener noreferrer">
                <i id="insta" class="fab fa-instagram fa-3x"></i>
              </a>

            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
