<div class="container mt-4">
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Quem sou</h3>
          <p class="card-text">Me chamo Guilherme, tenho 20 anos e iniciei minha jornada no desenvolvimento web em 2021.
            Ao longo desse período, venho aprimorando minhas habilidades em Angular e C#. Este portfólio tem como
            objetivo apresentar um pouco sobre minha trajetória e os projetos que desenvolvo para aprimorar minhas
            capacidades e conhecimentos.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Como comecei</h3>
          <p class="card-text">Meu interesse pelo desenvolvimento surgiu da paixão pela tecnologia e do desejo de
            compreender os mecanismos por trás da web. Adotei uma abordagem autodidata, mergulhando em diversos recursos
            educacionais, cursos online, além da faculdade e documentações técnicas para construir um conhecimento
            sólido em programação.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Experiencia</h3>
          <p class="card-text">Profissionalmente, acumulo um ano de experiência no desenvolvimento de software,
            enfrentando desafios em projetos notáveis, como os e-commerces da Takao e Belunus. Nesses ambientes, pude
            aprimorar minhas habilidades como desenvolvedor backend e frontend, explorar metodologias de trabalho e
            aprofundar-me nos aspectos de Angular e C#. Desenvolvi também habilidades sólidas para resolver problemas de
            maneira eficaz.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Curiosidades</h3>
          <p class="card-text">Fora do universo do desenvolvimento, mantenho minha paixão pela tecnologia, buscando
            constantemente aprender e compreender novos conceitos. Os jogos, especialmente os cooperativos de FPS, são
            uma parte fundamental do meu entretenimento. Além disso, tenho uma fascinação pela música, toco alguns
            instrumentos e estou sempre ansioso por aprender mais a cada dia.</p>
        </div>
      </div>
    </div>
  </div>
</div>
