
<div class="container mt-4">
   <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Quem sou</h3>
          <p class="card-text">Meu nome é Guilherme, tenho 20 anos de idade e minha jornada no mundo do desenvolvimento
            de software teve início em 2021. Desde então, tenho trilhado um caminho de aprendizado autodidata,
            combinando estudos independentes com orientações valiosas de profissionais experientes na área.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Como comecei</h3>
          <p class="card-text">Minha incursão no desenvolvimento começou com uma paixão pela tecnologia e o desejo de
            compreender os intricados mecanismos por trás do software. Com uma abordagem autodidata, mergulhei em
            diversos recursos educacionais, cursos online e documentações técnicas para adquirir conhecimento sólido em
            programação.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Experiencia</h3>
          <p class="card-text">Profissionalmente, tenho um ano de experiência no desenvolvimento de software,
            trabalhando em projetos desafiadores que me permitiram aplicar meu conhecimento em um ambiente prático.
            Minha abordagem de resolução de problemas e meu compromisso com a qualidade me motivam a buscar soluções
            eficazes em todos os projetos em que me envolvo.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Curiosidades</h3>
          <p class="card-text">Fora do mundo do desenvolvimento, sou um entusiasta do aprendizado contínuo e estou
            sempre em busca de aprimorar minhas habilidades técnicas e acompanhar as últimas tendências tecnológicas.
            Estou ansioso para continuar aperfeiçoando minha carreira no desenvolvimento de software, contribuindo para
            projetos significativos e enfrentando novos desafios.</p>
        </div>
      </div>
    </div>
  </div>
</div>
