nav{
  backdrop-filter: blur(10px);
  background: rgb(255 255 255 / 19%) !important;
}

button{
  color: aliceblue;
}
a{
  color: aliceblue;
}

.navbar-brand{
  margin-left: 1rem;
}

@media (max-width: 1000px) {
  .nav-link {
    margin-left: 1rem;
  }
  i{
    margin-right: 0.3rem;
  }
}

.navbar-toggler{
  margin-right: 1rem;
}
