
.intro {
  position: absolute;
  text-align: center;
  background-color: rgb(0 0 0 / 20%);
  color: white;
  padding: 10px;
}
.profile-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image img {
  width: 100%;
  height: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.about-me{
  margin-top: 3%;
}

.container-fluid{
  margin-top: 2%;
}


@media (max-width: 850px) {
  .container {
    width: 80%;
  }
}


body{
  margin: 0;
  overflow: hidden;

}
canvas{
  display: block;
}
#particles-container{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 100% 100%;
}


.card-container1 {
  position: absolute;
  top: 25%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  backdrop-filter: blur(10px);
  background: rgb(255 255 255 / 10%);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-container2 {
  position: absolute;
  top: 40%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  backdrop-filter: blur(10px);
  background: rgb(255 255 255 / 10%);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-container3 {
  position: absolute;
  top: 65%;
  left: 25%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  backdrop-filter: blur(10px);
  background: rgb(255 255 255 / 10%);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-container4 {
  position: absolute;
  top: 80%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 600px;
  backdrop-filter: blur(10px);
  background: rgb(255 255 255 / 10%);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card {
  text-align: center;
}

.card h2 {
  color: #333;
}

.card p {
  color: #555;
}

.card button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.card-container1:hover,
.card-container2:hover,
.card-container3:hover,
.card-container4:hover {
  pointer-events: auto;
}

