img{
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

.list-group-item list-group-item-action{
  backdrop-filter: blur(10px); /* Adiciona o efeito de desfoque */
  background: rgb(255 255 255 / 10%);
  color: white;
}

.list-group-item-action{
  backdrop-filter: blur(10px); /* Adiciona o efeito de desfoque */
  background: rgb(255 255 255 / 10%);
  color: white;
}
