<app-navbar></app-navbar>
<br>
<div class="container-fluid">
  <h2>Meus projetos</h2>
  <h3>Ainda não tem nada para ver aqui</h3>
  <!-- <div class="list-group">
    <div class="list-group-item list-group-item-action" (click)="isItem1Expanded = !isItem1Expanded">
      A second item
      <i [class]="isItem1Expanded ? 'fas fa-caret-up' : 'fas fa-caret-down'"></i>
    </div>
    <div *ngIf="isItem1Expanded" class="list-group-item">Dropdown Item 1</div>
    <div *ngIf="isItem1Expanded" class="list-group-item">Dropdown Item 2</div>
    <div *ngIf="isItem1Expanded" class="list-group-item">Dropdown Item 3</div>
    <div class="list-group-item list-group-item-action" (click)="isItem2Expanded = !isItem2Expanded">
      A third item
      <i [class]="isItem2Expanded ? 'fas fa-caret-up' : 'fas fa-caret-down'"></i>
    </div>
    <div *ngIf="isItem2Expanded" class="list-group-item">Dropdown Item 4</div>
    <div *ngIf="isItem2Expanded" class="list-group-item">Dropdown Item 5</div>
    <div class="list-group-item list-group-item-action">A fourth item</div>
  </div> -->
</div>
